/* styles.css */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.background {
    background-color: white;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
}
.button1 {
    border: none;
    color: #efefef;
    font-size: 4vh;
    background-color: transparent;
}
.left_content {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    height: 100%;
    width: 20%;
}
.left_content>li {
    list-style: none;
    margin: 8% 20%;
}
.left_content_head {
    height: 25%;
}
.right_content {
    background-color: rgba(0,0,0,0.3);
    right: 0;
    height: 100%;
    width: 20%;
}
.button1:hover {
    color: aqua;
}
.notice_box {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2vh solid #adcaae;
    background-color: rgba(0,0,0,0.3);
    width: 30%;
}
.notice_box>h1{
    color: #efefef;
    margin: 10% 0;
    font-size: 8vh;
}
.notice_box>button {
    margin: 5% 10%;
}
/* Add styles here to customize the appearance of your app */