/* styles.css */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.background {
    background-color: white;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
}
.button1 {
    border: none;
    color: #efefef;
    font-size: 4vh;
    background-color: transparent;
}
.left_content {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    height: 100%;
    width: 20%;
}
.left_content>li {
    list-style: none;
    margin: 8%;
}
.left_content_head {
    height: 25%;
}
.button1:hover {
    color: aqua;
}
/* Add styles here to customize the appearance of your app */